---
---

@import "minima";

body {
  font-family: 'Segoe UI', sans-serif;
}

h1, h2 {
  color: #2a7ae2;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table th {
  background-color: #2a7ae2;
  color: white;
  padding: 8px;
}

table td {
  padding: 8px;
  border: 1px solid #ddd;
}

